*{
    margin:0;;
    padding:0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.alerta{
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 15px;
    border-radius: 2px;
}

.alerta-error{
    background: red;
}

center{
    margin-top: 15%;
    
}
a{
    text-decoration: none;
}

section{
    display:inline-block;
    padding: 15px;
    width: 33%;
    
}
nav {
    /*display:inline-block;*/
    padding: 15px;
}
li{
    display:inline-block;
    
    
}
.lista{
    text-decoration: none;
    color: black;
    margin: 50px,50px !important;
    padding: 15px !important;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}